body {
    display: flex;
    align-items: center;
    margin: 0;
    padding-bottom: 20px;
    font-family: 'Nunito', sans-serif;
    color: white;
    background-image: linear-gradient(270deg, #08AEEA 0%, #2AF598 100%);
}

.wrapper {
    background-color: #202124;
    width:30%;
    margin: auto;
    margin-top: 15%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}